.idea/
.DS_Store
staticfiles/
.sass-cache/
MANIFEST
*.pyc
*.egg-info
*.ipynb
.ipynb_checkpoints/
db/
build/
dist/
local_settings.py
*.egg
*.tar.gz
www/static/css/*
*.scssc
main.css
*.sublime-project
*.sublime-workspace
*.sqlite3
manage.py
wsgi.py
.newsite/
/project/celery.py
.venv
